.row
  %h1
    = @calendar.title
  = label_tag :mode, "Mode"
  = select_tag :mode, ["Daily", "Weekly", "Monthly", "Annual"]
.row
  .span8
    %table#calendar
      %thead#week_view
        %tr
          %th Time
          %th Monday
          %th Tuesday
          %th Wednesday
          %th Thursday
          %th Friday
          %th Saturday
          %th Sunday
      %tbody#display_quarters
        - @week.time = @time = Time.now.beginning_of_day
        - 96.times do
          %tr{:id => @time.strftime("%H%M") }
            %td
              = (@time += 15.minutes).strftime("%H:%M")
            %td.day.mon{:class => @week.mon[:css_class] }
              = @week.mon[:text]
            %td.day.tues{:class => @week.tues[:css_class] }
              = @week.tues[:text]
            %td.day.wed{:class => @week.wed[:css_class] }
              = @week.wed[:text]
            %td.day.thurs{:class => @week.thurs[:css_class] }
              = @week.thurs[:text]
            %td.day.fri{:class => @week.fri[:css_class] }
              = @week.fri[:text]
            %td.day.sat{:class => @week.sat[:css_class] }
              = @week.sat[:text]
            %td.day.sun{:class => @week.sun[:css_class] }
              = @week.sun[:text]
            - @week.time = @time
  .span4
    #add_event.hidden
      %h2
        Add an event
      = form_for @event, :url => calendar_add_event_path(@calendar), :remote => true do |e|
        = e.label :title
        = e.text_field :title

        = e.label :start_point, "Starts"
        = e.text_field :start_point

        = e.label :end_point, "Ends"
        = e.text_field :end_point

        = e.hidden_field :calendar_id#, :value => @calendar.id

        = e.submit "Add"
