.row
  .span12
    %table
      %thead
        %tr
          %th Time
          %th Monday
          %th Tuesday
          %th Wedensday
          %th Thursday
          %th Friday
          %th Saturday
          %th Sunday
      %tbody
        - @time = Time.now.beginning_of_day
        - 96.times do
          %tr{:id => @time.strftime("%H%M") }
            - @events.time = @time.strftime("%H%M")
            %td 
              = (@time += 15.minutes).strftime("%H:%M")
            %td.mon{:class => @events.css_class }
              = @events.mon
            %td.tues
              = @events.tues
            %td.wed
              = @events.wed
            %td.thurs
              = @events.thurs
            %td.fri
              = @events.fri
            %td.sat
              = @events.sat
            %td.sun
              = @events.sun
